*, *:focus{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}

.main-wrapper{
    padding-top: 40px;
}
.header-wrapper{
    max-width: 898px;
    margin: 0 auto;
    text-align: center;
}

.header-wrapper h2{
    text-transform: uppercase;
    font-size: 44px;
    font-weight: 700;
    letter-spacing: -0.9px;
    line-height: 57px;
}
.header-wrapper p{
    font-size: 16px;
    line-height: 24px;
    color: #333;
    letter-spacing: 0;
    font-weight: 400;
    opacity: .7;
    padding-top: 16px;
    padding-bottom: 30px;
}

.sub-row{
    margin-top: 20px;
}


.common-wrapper h5{
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0 2px 53px rgb(0 0 0 / 50%);
    letter-spacing: 3.5px;
    font-weight: 600;
}
a.more{
    font-size: 12px;
    color: #ffff99;
    text-transform: capitalize;
    font-weight: 700;
}
.overlay{
    padding: 40px 30px;
    background-color: rgba(78,232,99,0.65);
    border-radius: 4px;
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in; 
    height: 243px;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.common-wrapper{
    background-size: cover;
    background-position: center;
    border-radius: 4px;
    margin-bottom: 20px;
    color: #fff;
}
.depression{
    background-image: url('https://www.wildermanfund.org/hubfs/Assets%202018/depression.jpg');
}
.anxiety{
    background-image: url('https://www.wildermanfund.org/hubfs/175545935.jpg');
}
.obsessive{
        background-image: url('https://www.wildermanfund.org/hubfs/Assets%202018/shutterstock_169647155.jpg');
}
.Post-traumatic{
    background-image: url('https://www.wildermanfund.org/hubfs/Assets%202018/shutterstock_83231545.jpg');
}
.Bipolar{
    background-image: url('https://www.wildermanfund.org/hubfs/Assets%202018/176157090.jpg');
}

.common-wrapper p{
    font-size: 16px;
    max-width: 230px;
    margin: 0 auto 20PX;
    text-shadow: 0 2px 53px rgb(0 0 0 / 50%);
    font-weight: 400;

}
.overlay:hover{
    background-color:#000;
}

.user-details{
    position: relative;
    padding-left: 65px;
    padding-top: 25px;
    font-weight: 600;
}
.owl-carousel .owl-item .user-details img{
    position: absolute;
    left: 3px;
    max-width: 50px;
}

.owl-item .shadow-effect{
    position: relative;
    padding: 25px 37px 25px 60px;
}

.shadow-effect:before{
    background-image: url(https://cdn2.hubspot.net/hubfs/4196930/Assets%202018/active-quotes.png);
    background-repeat: no-repeat;
    top: 30px;
    position: absolute;
    content: "";
    left: 6%;
    width: 30px;
    height: 30px;

}
.owl-item.active.center .shadow-effect:after{
    position: absolute;
    z-index: 1;
    left: 4%;
    bottom: -18px;
    content: "";
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 50px solid transparent;
    border-top: 18px solid #262626;
}

.quotes{
    padding: 36px 0px 93px;
}
.quotes h2{
    font-size: 44px;
    font-weight: 700;
    letter-spacing: -0.9px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 60px;
}
.owl-item.active.center .shadow-effect {
    background: #262626;
    color: #fff;

}
.owl-item.active.center .item .user-details .testimonial-text {
    color: #333;
}
.owl-item.active.center .testimonial-name{
    color: #333;
}

.shadow-effect { 
    border-radius: 4px; 
}
#customers-testimonials .shadow-effect p {
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 17px 0;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}
.testimonial-text {
    color: #fff;
    padding-top: 6px;
    text-align: left;
    padding-bottom: 4px;
    letter-spacing: 3.5px;
    text-transform: uppercase;
}
.testimonial-name {
    color: #fff;
    text-align: left;
    font-weight: 600;
    letter-spacing: 3.5px;
    text-transform: uppercase;
    opacity: .4;
}
#customers-testimonials .item {
        margin-bottom:80px;
    opacity: .2;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#customers-testimonials .owl-item.active.center .item {
    opacity: 1;
    -webkit-transform: scale3d(1.0, 1.0, 1);
    transform: scale3d(1.0, 1.0, 1);
}
.owl-carousel .owl-item img {
    transform-style: preserve-3d;
    max-width: 50px;
    margin: 0 auto 17px;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot.active span,
#customers-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
    background: #3190E7;
    transform: translate3d(0px, -50%, 0px) scale(0.7);
}
#customers-testimonials.owl-carousel .owl-dots{
display: none;
width: 100%;
text-align: center;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot{
display: inline-block;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot span {
    background: #3190E7;
    display: inline-block;
    height: 20px;
    margin: 0 2px 5px;
    transform: translate3d(0px, -50%, 0px) scale(0.3);
    transform-origin: 50% 50% 0;
    transition: all 250ms ease-out 0s;
    width: 20px;
}
/* media-qwery */
@media (max-width: 767px){
 
    .header-wrapper h2{
        font-size: 24px;
        line-height: 31px;
    }
    .header-wrapper p{
        font-size: 14px;
        line-height: 24px;
        padding-bottom: 15px;
       padding-right: 20px;
        padding-left: 20px
    }

    .main-wrapper{
        padding: 60px 0 60px;
    }
    .common-wrapper{
        display: block;
        max-width: 379px;
        width: 100%;
        margin: 30px auto 0;
        float: none;
    }
    .common-wrapper h5{
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
    }
    .common-wrapper p {
        font-size: 14px;
    line-height: 24px;
    max-width: 100%;
    }
    .shadow-effect:before{
        left:4%;
    }
    .quotes {
        padding: 0px 0px 93px;
    }
    .quotes h2{
        font-size: 24px;
        padding-bottom: 27px;
    }
    .owl-item.active.center .item .user-details .testimonial-text{
        position: absolute;
        left: 0px;
        top: 74px;
        font-size: 16px;
    }
    .owl-item.active.center .testimonial-name{
        position: absolute;
        top: 128px;
        left: 0;
        font-size: 16px;
    }


}
